## ==== CONFIGURATIONS FOR PRISMA ====

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://username:password@host:port/database?schema=public"

## ==== CONFIGURATIONS FOR MEILING ==== 
## These values are used if you are using config.env.js for configuration.

# Allowed Frontend urls.
FRONTEND_URLS="https://frontend.meili.ng,https://another.frontend.meili.ng,http://also.with.ports:3000"

# OpenID configuration
OPENID_ISSUING_AUTHORITY="https://demo.meili.ng"
OPENID_SECRET_KEY="MeilingGateKeeperOpenIDSecret"

# Redirect URI
MEILING_DEVICE_CODE_VERIFICATION_URL="https://frontend.meili.ng/device"

# Fastify to UNIX Socket
FASTIFY_LISTEN=8080
FASTIFY_USE_PROXY=1

NOTIFICATION_API_HOST="http://notification.meili.ng"
NOTIFICATION_API_KEY="notificationAPIMeilingSecret"


