{
  "version": "0.0.1",
  "frontend": {
    "url": [
      "https://appielogin.netlify.app",
      "https://meiling-dev.stella-it.com",
      "http://localhost:3000"
    ]
  },
  "meiling": {
    "error": {
      "urlFormat": "https://opensource.stella-it.com/developers/docs/meiling/error/{{errorCode}}.html"
    },
    "oauth2": {
      "skipAuthentication": []
    },
    "proxy": {
      "allowedHosts": []
    }
  },
  "session": {
    "v1": {
      "storage": {
        "type": "file",
        "path": "./tokenSession.json"
      },
      "maxAge": 604800,
      "rateLimit": {
        "maxTokenPerIP": 20,
        "timeframe": 600
      },
      "debugTokens": [
        "HongMeiling"
      ]
    }
  },
  "token": {
    "generators": {
      "default": {
        "chars": "QWERTYUIOPASDFGHJKLZXCVBNMqwertyuiopasdfghjklzxcvbnm1234567890",
        "length": 128
      }
    },
    "invalidate": {
      "oauth": {
        "AUTHORIZATION_CODE": 300,
        "ACCESS_TOKEN": 7200,
        "REFRESH_TOKEN": 604800,
        "ACCOUNT_TOKEN": -1
      },
      "meiling": {
        "CHALLENGE_TOKEN": 300
      }
    }
  },
  "listeningPort": 8080
}